<!-- ESTO SERIA LA HERENCIA DE TEMPLATES (PLANTILLAS) -->


<!-- Con este documento podemos reutilizar la navegacion(en este caso) para todos los documentos-->
<!-- HTML que queramos -->

<!-- Le decimos que va a cargar contenido estatico -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Projects</title>
    <!-- Le cargamos el archivo (estatico) css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="/admin">Panel de Administración</a>
            </li>
            <li>
                <a href="{% url 'index' %}">Index</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="/task">Task</a>
            </li>
            <li>
                <a href="/hello/Richi">Hello</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/create_task">Create Task</a>
            </li>
            <li>
                <!-- Debemos usar la sintaxis jinja para poner el nombre que creamos para esta ruta -->
                <a href="{% url 'create_project' %}">Create Projects</a>
            </li>
        </ul>
    </nav>

    <!-- Esto sirve para indicarle al base.html que aqui abajo va ir otro contenido  -->
    <!-- y la pagina que lo herede va a poder utilizar para su contenido -->

    {% block nombre_aqui %}
    {% endblock %}

</body>

</html>